#modal {
  opacity: 0;
}
.modal {
  background-color: $bck;
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 400px;
  min-height: 60vh;
  max-height: 80vh;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;

  &__mask {
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    height: 100vh;
    width: 100%;

    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 19px;
    font-weight: 800;
    margin: 20px 0;
    text-transform: uppercase;
  }
  &__table {
    flex: 1;
    margin: 20px 0 40px 0;
    overflow-y: scroll;

    &__headerBox {
      display: flex;
    }
    &__header {
      flex: 1;
      text-align: center;
      border: 1px solid $bck;
      padding: 5px 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      background-color: $grey;
    }
    &__box {
      display: flex;
    }

    &__col {
      flex: 1;
      background-color: $light;
    }
    &__cell {
      font-size: 14px;
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      border: 1px solid $bck;
    }
  }
  &__btn {
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    background-color: $extra;
    color: $light;
    padding: 18px 30px;
    border-radius: 2px;
    cursor: pointer;
  }
}
